<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
              </ul>
              {#
              Le formulaire de recherche des students est affiché dans toutes les pages (c-à-d
              toutes les routes). Mais il n'est vraiment utilisé que dans la route "app_search".
              Au lieu de créer le formulaire dans toutes les routes (c-à-d dans chaque fonction
              de chaque contrôleur), ce qui ferait beaucoup trop de copier-coller, on va procéder
              plus intelligemment.
              1) On n'initialise la variable studentSearchForm que dans la route "app_search".
              2) Dans la vue, si la variable studentSearchForm n'est pas initialisée, on utilise
              le service StudentSearchFormViewFactory pour créer la vue du formulaire.
              Pour info la variable du service "studentSearchFormViewFactory" est initialisée
              dans "config/packages/twig.yaml".
              Et le service se trouve dans le fichier "src/Service/StudentSearchFormViewFactory.php".
              #}
              {% if studentSearchForm is not defined %}
                {% set studentSearchForm = studentSearchFormViewFactory.create %}
              {% endif %}
              {# Ce formulaire remplace celui qui est hard codé quand on copie colle la nav "par défaut" de bootstrap #}
              {{ form_start(studentSearchForm) }}
                {{ form_widget(studentSearchForm) }}
                <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
              {{ form_end(studentSearchForm) }}
            </div>
          </nav>

        {% block body %}{% endblock %}
    </body>
</html>
